<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template1}">
<head>
    <title>Accès refusé</title>
</head>
<body>
<div layout:fragment="content">
    <div class="alert alert-danger text-center mt-4">
        <h4><i class="bi bi-exclamation-octagon"></i> Accès refusé (403)</h4>
        <p>Vous n'avez pas les autorisations nécessaires pour accéder à cette page.</p>
        <a th:href="@{/user/index}" class="btn btn-primary">
            <i class="bi bi-house"></i> Retour à l'accueil
        </a>
    </div>
</div>
</body>
</html>
