<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/products">
    <i class="bi bi-box-seam me-1"></i> Products App
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#nav" aria-controls="nav" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products" routerLinkActive="active">
          <i class="bi bi-list-ul me-1"></i> Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/new-product" routerLinkActive="active">
          <i class="bi bi-plus-circle me-1"></i> New Product
        </a>
      </li>
    </ul>
  </div>
</nav>
